@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.marquee{
    background-color: rgb(254, 163, 1);
    font-family: Quicksand;
    color: rgb(17, 17, 17);
    font-weight: 600;
    
    
}

/* shared style */
.btn-style{
    border-radius: 10px;
    padding: 8px;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    width: 160px;
    height: 40px;
    

}
.icons{
    display: none;
}
.cardbox-heading{
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.cardbox-para{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 0.9375rem;
    font-weight: 500;
    margin-bottom: 30px;

}
.cardbox-link{
    text-decoration: none;
    font-family: Quicksand;
    font-size: 0.9375rem;
    font-weight: 700;

}
.stories-font-heading{
    font-family: Quicksand;
    font-size: 0.9375rem;
    font-weight: 700;
    margin-bottom: 40px;
    margin-left: 25px;
    margin-right: 25px;
}
.stories-btn-style{
    border-radius: 47px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 0.9375rem;
    font-weight: 500;
    padding: 12px;
    border: none;
    position: relative;
    left: 20px;
    bottom: 25px;


}

/* navbar related style */
.navbar-content{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.school{
    display: flex;
    align-items: center;
    
}
.school-heading{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 10px;
    

}

.link-content{
    display: flex;
    list-style: none;

}
.link-content li a{
    text-decoration: none;
    margin-left: 25px;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 700;

}

/* banner related style */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.banner-content{
    width: 640px;
    height: 330px;
    margin-right: 130px;
}
.banner-heading{
    font-family: Quicksand;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;

}
.banner-description{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 20px;

}

/* standard curriculum related style */
.curriculum{
    background-image: url("./assets/bg.png");
    background-size: cover;
    margin-bottom: 120px;
}
.curriculum-content{
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 80px;
    margin-bottom: 80px;
}

.first-cardbox, .second-cardbox, .third-cardbox{
    /* width: 360px;
    height: 420px; */
    text-align: center;
    padding: 40px;
}
.first-cardbox{
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.second-cardbox{
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.third-cardbox{
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.curriculum-heading{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 2.875rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}
.arrow{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.arrow:hover img{
    background-color: aqua;
}

/* our stories related style */
.stories{
    background: url("./assets/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);

}

.stories-heading{
    font-family: Quicksand;
    font-size: 2.875rem;
    text-align: center;
    margin-bottom: 80px;
}
 
.stories-content{
    display: flex;
    gap: 90px;
    justify-content: center;
    margin-bottom: 80px;
}
.stories-cardbox-big{
    width: 520px;
  

}

.stories-cardbox-small{
    display: grid;
    grid-template-columns: repeat(2, 290px);
    gap: 40px;
}

.stories-cardbox-big, .small-one, .small-two, .small-three, .small-four{
    border-radius: 16px;
    background: rgb(255, 255, 255);

}

.stories-cardbox-heading{
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 60px;
    margin-left: 20px;
    
}

.stories-cardbox-para{
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 0.9375rem;
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 20px;
    
}
.stories-btn{
    text-align: center;
}
/* footer related style */
.footer{
    background-color: rgb(1, 172, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    height: 500px;
}
.footer-content{
    width: 400px;
    
}
.footer-content img{
    height: 100px;
    margin-top: 15px;
}
.footer-heading{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 2.625rem;
    font-weight: 700;
    margin-top: 25px;
    
}
.footer-para{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;
    margin-left: 10px;
}
.footer-link-para{
    margin-bottom: 30px;
}

.footer-link-para, .footer-social-para{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;

}
.footer-link-content li a{
    text-decoration: none;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 500;
  
    
}
.footer-link-content li{
    margin-bottom: 20px;
    list-style: none;
}

.footer-social-content img{
    padding-left: 5px;
    
}
.footer-social-para{
    margin-bottom: 20px;
}
.footer-flex{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
}
@media screen and (max-width: 576px){
    .school-heading, .link-content, .btn-yellow, .stories-cardbox-big{
        display: none;
        
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-content{
        text-align: center;
        margin: 0;
        width: 350px;
        height: 250px;
    }
    .img-hero{
        width: 330px;
    }
    .img-hero-content{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .curriculum, .stories{
        margin-top: 360px;
    }
    .curriculum-content{
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: auto;
    }
    .arrow{
        display: none;
    }
    .stories-content{
        
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
    }
    .stories-cardbox-small{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .stories-btn-style{
        width: min-content;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 40px;
        
    }
    .footer-content{
        margin-right: auto;
        width: 300px;
    }
    .footer-link{
        margin-right: auto;
        padding-left: 15px;
    }
    .footer-social-content{
        margin-right: auto;
        margin-bottom: 50px;
        padding-left: 15px;
    }

    .icons{
        display: block;
    }
    .navbar-content{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid tomato;
    }
    .marquee{

    }
    .marquee-content{
        
    }
    
    

}